/* World map
-------------------------------------------------------------------------------*/

#map {margin:0 auto;width: 100%;max-width: 800px;}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.country {
  fill: gray;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.key path {display: none;}
.key .tick {font-size: 10px;}
.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}


/* Gender colors
-------------------------------------------------------------------------------*/
.max-m {color:#4393c3;}
.max-f {color:#de77ae;}