/* World map
-------------------------------------------------------------------------------*/

#map {margin:0 auto;width: 100%;max-width: 800px;}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.country {
  fill: #f0f0f0;
}

.boundary {
  fill: none;
  stroke: gray;
  stroke-width: .5px;
}

.key {}
.key path {display: none;}
.key .tick {font-size: 10px;}
.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.mapyear {
  fill: gray;
  text-anchor:middle;
  fill-opacity: 0.1;
  font-size: 200px;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/* Gender colors
-------------------------------------------------------------------------------*/
.max-m {color:#35978f;}
.max-f {color:#d6604d;}
.even {color: #d1e5f0;}



/* Line charts
-------------------------------------------------------------------------------*/

.linechart {width: 100%;max-width: 800px;}

.country-line-path {
  fill: none;
  stroke-width:3;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text, .linechart .legend {
  font: 10px 'Droid Serif', serif;;
}

.chart-background {
  opacity: 0.5;
  max-height: 235px !important;
  fill: #d1e5f0;
}

/* Userinput */

.userinput-0 {margin-right:10px;}
