doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title qz-sexmap
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')

  body
    div.item-body
      div#interactive-content
          article#content
            section.topper
              p.kicker World Sex Map
              h1 A story of drinkers, genocide and unborn girls
              div.item-meta
                div.byline.item-meta-row
                  h5 By 
                    a.author-name(href="http://twitter.com/davidbauer") David Bauer
              p
                | Men now outnumber women on the planet by 66 million, the highest ever recorded. Preference for sons in India and China is driving the trend, but those two countries are not the only ones struggling with an imbalanced population. Here's a look at five decades of data:
    
            section.mapvis
              h2 The global view
              p.datatext
                | In 
                span.currentYear.datapoint 2015
                | , 
                span.currentTotalPercentage.datapoint 49.55
                b % 
                | of the global population were women.
                br
                span.currentFemaleCountries.datapoint 81 
                |  countries had a 
                span.max-f.inline-data-label majority of&nbsp;women
                | , 
                span.currentMaleCountries.datapoint 36 
                |  countries had a 
                span.max-m.inline-data-label majority of&nbsp;men
                | , 
                span.currentEvenCountries.datapoint 75 
                |  were within 0.5% of&nbsp;
                span.even.inline-data-label gender&nbsp;parity
                | .
              .controls
                button.play
                  img(src='assets/play.png',alt='Start animation',title='Start animation')
                #menu
              figure
                div#map
                p *No data available for 
                  span.not_on_mobile
                    | American Samoa, Andorra, Bermuda, Cayman Islands, Dominica, Eritrea, Faeroe Islands, Greenland, Isle of Man, Liechtenstein, Marshall Islands, Monaco, Northern Mariana Islands, Palau, San Marino, Sint Maarten, St. Kitts and Nevis, Turks and Caicos Islands, Tuvalu, Virgin Islands. 
                  span.only_on_mobile
                    | 20 countries. 
                p Data: World Bank
  
            section
              h2 A closer look
              
            section
              p
                | Left to nature alone, the population on earth would be give or take 50% men and 50% women, according to what&apos;s become known as  
                a(href='http://www.genetics.org/content/148/2/719.full', target='_blank') Fisher’s Principle
                | . The fact that women 
                a(href='http://esa.un.org/wpp/Documentation/pdf/WPP2012_Volume-I_Comprehensive-Tables.pdf', target='_blank') generally live longer
                |   (PDF, page 259) is compensated by the fact of more boys being born than girls (
                a(href='https://www.cia.gov/library/publications/the-world-factbook/fields/2018.html', target='_blank') 107 boys per 100 girls in 2013
                | ).
               p 
                | In 1960, the earliest year the World Bank provides data for, the world was within 0.002 percentage points of a perfectly equal distribution. Ever since, the gap has widened; now men outnumber women on the planet by more than 66 million. When this piece was first published in early 2014, the gap had already been the widest ever – the trend continues.
              p
                | The male surplus is the result of various, partly diverging trends. In 2015, female population in individual countries ranged from 27 to 54%. Some countries have seen a change of as much as 26 percentage points over the past five and a half decades, others have had notable ups or downs within relatively short periods.
              p
                | (
                a(href='http://data.worldbank.org/indicator/SP.POP.TOTL.FE.ZS/countries/1W?display=default', target='_blank') The data, provided by the World Bank
                | , based on the United Nations Population Division&apos;s World Population Prospects, use interpolation between five-year periods to obtain annual data. Events that caused a significant change within a relatively short time might thus be reflected in the data with a delay and appear more linear than they have in fact been.)
              p
            section
              h2 The missing girls in China and India
              p
                | In 2015, men outnumbered women on the planet by more than 66 million, according to the World Bank. What makes this possible, even though a majority of countries have more women than men, is the fact that the most populous countries in the world are also highly imbalanced: India has 48 million more men than women, China nearly 42 million, accounting for 75% of the male surplus worldwide.
              figure.linechart.chart-1
              p
                | Gender imbalance starts at birth: Both China and India are infamous for 
                a(href='http://www.economist.com/node/15636231', target='_blank') widespread gender selective abortions and female infanticide
                | . Both countries have birth sex ratios that are well off the worldwide average. In 2015, China saw 1.15 boys born per girl, India 1.12, 
                a(href='https://www.cia.gov/library/publications/the-world-factbook/fields/2018.html', target='_blank') as compared to 1.03 worldwide
                | . The availability of affordable prenatal diagnostic techniques has only accentuated the trend, which means the gender gap in the general population is bound to widen in the coming years, as more balanced older generations pass away. In an attempt to break the trend, India has 
                a(href='https://en.wikipedia.org/wiki/Pre-Conception_and_Pre-Natal_Diagnostic_Techniques_Act,_1994', target='_blank') legally banned sex determination before birth in 1994
                | , legislation that has, however, been 
                a(href='http://www.unfpa.org/news/new-report-reviews-key-laws-women-and-girls-and-their-impact-son-preference-india', target='_blank') criticized as ineffective
                | . In 2013, China loosened its one-child policy, 
                a(href='http://qz.com/59398/chinas-ratio-of-boys-to-girls-is-still-dangerously-high-and-its-the-chinese-governments-fault/', target='_blank') one of the main drivers of gendercide
                | .
              p
                | Two other countries in the region with a similar population structure, Pakistan and Bangladesh, have seen significant changes over the past decades. While Pakistan, the most unbalanced of the four in 1960, has improved and moved past China and India to greater equity, Bangladesh is approaching a balanced population in this century. This can be attributed to a shift in culture—labelled  
                a(href='https://www.opendemocracy.net/5050/naila-kabeer/decline-in-missing-women-in-bangladesh', target='_blank') “the rise of the daughter-in-law” phenomenon
                | —from one that strongly preferred sons to one that values boys and girls equally.
            section
              h2 Migrant workers on the Arabian Peninsula
              p
                | The most gender imbalanced states in 2015 were all found on the Arabian Peninsula, the United Arab Emirates being the most extreme. Barely one quarter of all people who lived in the United Arab Emirates in 2015 were women. Those countries have attracted a lot of migrant workers for male-dominated industries, especially after oil prices started rising in the 1970s and the industry grew. Millions of men, mostly from South Asia, came to work on the Arabian Peninsula, but weren&apos;t allowed to bring their spouses and children with them, thus 
                a(href='https://mei.nus.edu.sg/index.php/website/publications_TMPL/Volume-9-2-Labor-Migration-in-the-GCC-Countries-Past-Present-and-Future', target='_blank') throwing gender ratios off balance
                | .
              figure.linechart.chart-2
            section
              h2 Heavy drinking in Russia
              p
                | The former Soviet states are notorious for men&apos;s short life expectancy, which is 
                a(href='http://www.theguardian.com/world/2014/jan/31/russian-men-losing-years-to-vodka', target='_blank') largely attributed to alcohol-related deaths
                | . Strikingly, Russia currently has 
                a(href='https://www.cia.gov/library/publications/the-world-factbook/fields/2010.html', target='_blank') more than twice as many women than men above the age of 65
                | . According to the WHO, women in Russia live, on average, 12 years longer than men, 
                a(href='http://apps.who.int/gho/data/view.main.61360?lang=en', target='_blank') a larger difference than anywhere else in the world
                | . The only countries that come close are other former states of the Soviet Union. It is this difference in life expectancy that makes the population in those states particularly female.              
              figure.linechart.chart-3
              p
                | There is, however, another striking development in most former Soviet states. Their populations moved toward more gender balance, up until the dissolution of the Soviet Union, when the trend reversed. The extraordinarily high percentages of women in 1961 were still an effect of World War II, when the Soviet Union lost close to 15% of its population, many of them young men. As time passed, this effect diminished, bringing down gender imbalance, albeit still at world-record level.
              p
                | However, the dissolution of the Soviet Union and the subsequent healthcare crisis lead to a sudden increase in mortality, for men more so than women. Between 1991 and 1994, 
                a(href='http://www.nytimes.com/2009/01/16/world/europe/16europe.html?_r=0', target='_blank') average life expectancy dropped by six years for men, three for women
                | .
            section
              h2 War and genocide in Rwanda, Cambodia and Iraq
              p
                | Disruptive events such as wars and genocides show in the data as well. Since they tend to claim more men's lives than women's, the population's sex ratio usually shifts female.
              figure.linechart.chart-4
              p
                | As you can see in the chart, both the Iraq-Iran war in the 1980s and 
                a(href='http://www.cairn-int.info/journal-population-2005-4-page-331.htm', target='_blank')  the genocide in Rwanda in 1994
                |  left those countries with a significantly more female population than before. Even more staggering is the effect of the mass killings by the Khmer Rouge in Cambodia from 1975 to 1978, when around a quarter of the entire population died.
            section
              h2 The homogenous top
              p
                | One of the strongest predictors of a country&apos;s sex ratio is how developed it is. Highly developed countries tend to have more women in their population. Thirteen of the top 15 countries in the 
                a(href='http://hdr.undp.org/en/content/human-development-index-hdi', target='_blank') Human Development Index
                |  (which measures health, education and prosperity) and 29 of 31 “high-income OECD states” (as defined by the World Bank) have a female population above 50%. The exceptions, Iceland with 49.9% women and Norway with 49.6% women, are not far off, either. Included in the chart are the top three nations from the 2015 Human Development Index: Norway, Australia and Switzerland.
              figure.linechart.chart-5
              p
                | What most of these countries have in common—and what is certainly true for the average of all of them—is that over the past decades there is a trend toward a more balanced population. The gap between men's and women's life expectancy has narrowed largely due to occupations and lifestyles becoming more similar. While the difference for “more developed regions” 
                a(href='https://esa.un.org/unpd/wpp/Publications/Files/WPP2015_Volume-I_Comprehensive-Tables.pdf', target='_blank') was 7.8 years between 1985-1990, it has narrowed to 6.4 years in recent years
                |  (PDF, page 168).
              
            section
              h2 The diverse BRICS states
              p We've seen that highly developed countries are quite homogenous in terms of gender ratios. In contrast, the five emerging economies of the BRICS states strikingly fall into three groups.
              figure.linechart.chart-6
              p China and India are strongly imbalanced toward men, Russia even more strongly imbalanced toward women, with Brazil and South Africa firmly somewhere in between. In Brazil, a widening gap in life expectancy has made the population shift from almost perfectly balanced toward female. In 1960, women were expected to live four years longer than men; today the difference is seven years.  
            section
              h2 The surprisingly balanced African states
              p
                | Africa's population is more gender balanced than any other continent&apos;s was in 2015. In fact, a majority of countries in Africa has both genders within 49.5% and 50.5% of the total population. At first glance, they resemble the likes of Sweden and Australia, but the balance results from different circumstances.
              p
                | Most of those countries have an at-birth sex ratio that is significantly lower than the world average, around 103 boys per 100 girls. There is no conclusive evidence on why this is the case. However, both 
                a(href='http://www.nytimes.com/2009/04/21/health/21sex.html', target='_blank') the climate near the equator
                |  and 
                a(href='http://digitalcommons.wayne.edu/humbiol/vol70/iss6/10/', target='_blank') malnutrition of mothers during pregnancy
                |  are believed to contribute to a higher mortality of male fetuses.
                
              p 
                | Over time, this should result in women outnumbering men. It doesn&apos;t happen, though, because women, on average, outlive men by fewer years than elsewhere. In Sub-Saharan Africa, the difference in 
                a(href='https://esa.un.org/unpd/wpp/Publications/Files/WPP2015_Volume-I_Comprehensive-Tables.pdf', target='_blank') life-expectancy at birth is 2.5 years, as compared to 6.4 years in “more developed regions”
                |  (PDF, page 168).
              figure.linechart.chart-9 
              p
                | Then, some countries are balanced in 2015, but only as the result of a dramatic shift. The prime example for this is Libya. Its female population rose from less than 47% in 1985—one of the lowest in the world—to 49.7% in 2015. As is typical for countries with relatively small populations, the trend-reversal coincides with changes in migration. 
              p
                | Every year until 1985, 
                a(href='https://www.quandl.com/WORLDBANK/LBY_SM_POP_NETM-Libya-Net-migration', target='_blank') more people migrated to Libya than left Libya
                | . As 
                a(href='http://esa.un.org/MigGMGProfiles/indicators/files/Libya.pdf', target='_blank') nearly 2 in 3 immigrants were male
                | , the country&apos;s total population became increasingly male. Starting in the late 1980s, and increasing since, more people have left Libya than immigrated to it. As, again, more men than women have left the country, the effect on the population reversed.
            section
              h2 The US and its neighbors
              p
                | Looking at five decades of sex ratios in North America, Mexico&apos;s development stands out: it&rsquo;s clear how the mass emigration from Mexico to USA starting in the 1990s significantly changed the sex ratio in Mexico. Between 1990 and 2010, 
                a(href='http://www.migrationpolicy.org/article/mexican-immigrants-united-states', target='_blank') more than 7.5 million Mexican immigrants
                |  crossed the border to the US. Since more more men than women left Mexico, the ratio of women in the Mexican population rose sharply (in its population dataset, the World Bank counts residents regardless of legal status or citizenship, and 
                a(href='http://www.pewhispanic.org/2006/07/05/ii-migration-and-gender/', target='_blank') men outnumber women especially in illegal migration
                | ).
              figure.linechart.chart-7
              p
                | Mexico is representative of a general trend here: historically, migration has had an effect on sex ratios since significantly more men than women have migrated. The more migrants, incoming or outgoing, a country had relative to its population, the stronger the effect, as we&apos;ve already seen for Qatar or Libya. As women's share in migration is rising, 
                a(href='http://www.pewhispanic.org/2006/07/05/ii-migration-and-gender/', target='_blank') from 47.4% in 1975 to 49.6% in 2005
                | , the effect on gender imbalance is weakening, though.
              p 
                | Both the United States and Canada have seen an increase in women&apos;s share in the population from the 1960s onward, followed by a slight rebound toward a more balanced population in recent years. In both countries, these developments can be explained by the difference in life expectancy between men and women, which had widened after 1960 and narrowed again starting in the &lsquo;80s and &lsquo;90s, a trend most highly developed countries have seen.
            section
              h2 Hong Kong's single ladies
              p
                | Hong Kong, Sri Lanka, and Nepal are the countries that have seen the strongest move toward a more female population over the past five decades.
              figure.linechart.chart-8
              p 
                | The most striking development has taken place in Hong Kong over the past 35 years. The share of women in Hong Kong&apos;s population has skyrocketed from below 48% in 1980 to over 53% in 2015, from one of the lowest in the world to one of the highest. Two diverging migration patterns have led to this: emigration of mostly men to mainland China and an influx of mostly female domestic workers from the Philippines and Indonesia, leaving Hong Kong with 
                a(href='http://blogs.wsj.com/chinarealtime/2012/07/31/hong-kongs-gender-gap-grows/', target='_blank') a generation of young women struggling to find a partner
                | .
              p
                | Nepal has seen a very similar development. Starting in the mid-1990s, hundreds of thousands Nepalis, mostly men, 
                a(href='http://www.grida.no/graphicslib/detail/labour-migration-from-nepal_8700', target='_blank') migrated to the Arab Peninsula, Malaysia and India for work
                | . At the same time, immigration to Nepal 
                a(href='http://www.iom.int/cms/nepal', target='_blank') was predominantly female. 
              p
                | In Sri Lanka, the reasons for the imbalance are less conclusive. Migration, both inbound and outbound, was less skewed to men; it appears that a widening gap in life expectancy has contributed most to the general population shifting female. While in 1970, women were expected to live four years longer than men, the difference is now six. A minor role can be attributed to the civil war from 1983-2009 that left an estimated 100,000 dead.
            section#explore
              h2 Explore the data yourself
              p This last chart is yours. Choose two countries to compare. When you share the page, your selection is saved.
              div.userinput
              div.clearfix
              figure.linechart.chart-usergenerated
          footer
            P This piece was first published in January 2014, with data up until 2013. It has been updated in October with the latest data, including 2014 and 2015.
            p David Bauer is a journalist based in Zurich, Switzerland. He is the Head of Storytelling at Neue Zürcher Zeitung.
            p
              | Built and written by 
              a(href='http://www.davidbauer.ch') David Bauer
              | , edited by 
              a(href='http://qz.com/author/laurenalixb/') Lauren Alix Brown 
              | and 
              a(href='http://qz.com/author/davidyanofskyquartz/') David Yanofsky
              | . Generous help from the guys at 
              a(href='http://www.interactivethings.com/', target='_blank') Interactive Things
              | . Icons CC BY 3.0 by 
              a(href='http://thenounproject.com/pbatalier/', target='_blank') Percy Batalier 
              | and 
              a(href='http://thenounproject.com/SylvainAmatoury', target='_blank') Sylvain Amatoury
              |  via the Noun Project.
            p
              | Main data source: The United Nations Population Division's World Population Prospects, via 
              a(href='http://data.worldbank.org/indicator/SP.POP.TOTL.FE.ZS/countries/1W?display=default', target='_blank') World Bank (2014)
              | .

    <!-- @if GULP_ENV='prod' -->
    script(src='js/libs/frameMessager.min.js')
    <!-- @endif -->

    script(src="http://underscorejs.org/underscore-min.js")
    script(src="js/libs/qz-d3.js")
    script(src="http://d3js.org/topojson.v1.min.js")
    script(src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js")
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(type="text/javascript" src="js/libs/bigfoot.min.js")

    script(src='js/main.js')