// Interactive-specific css here

.item-body
	margin 0 auto
	max-width 940px

#interactive-content
	width 100%
	max-width 940px
	margin-left auto
	margin-right auto
	

/* Apply a natural box layout model to all elements http//paulirish.com/2012/box-sizing-border-box-ftw/ */
* 
	box-sizing border-box
	
.chromeframe 
	position absolute top 0

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

p 
	max-width 640px
	margin-right auto
	margin-left auto
	text-align left
	
.intro
	font-family $qz-sans

body, select, input, textarea 
	color #333

a 
	color #168dd9
a:hover 
	text-decoration none

-moz-selection
	background #008148 color #fff text-shadow none
selection 
	background #008148 color #fff text-shadow none

a:link 
	-webkit-tap-highlight-color #fcd700 

ins 
	background-color #fcd700 
	color #000 
	text-decoration none
mark 
	background-color #fcd700 
	color #000 
	font-style italic 
	font-weight bold

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder  
	color #a9a9a9 
textarea:-moz-placeholder  
	color #a9a9a9 

/* Custom styles!
-------------------------------------------------------------------------------*/
#wrapper 
	width 100% margin 0 auto

.controls, section, figure 
	margin 0 auto
	text-align center

.controls select, .controls button 
	display inline

.controls button, .controls button:focus 
	background none 
	border none
	outline none
.controls button img 
	width 50px
	height 50px

.topper
	top 50px
	
	.kicker
		text-transform uppercase
		font-family $qz-sans-bold
		color #006AA4
		font-size .75em
		text-align center
		display block
	
	h1 
		text-align center
		line-height 1.2
		margin-top 0
	
	p
		margin 0 auto
		padding 0
		font-family $qz-sans
		text-align left
		max-width 550px
		
	* + *,
	p + p
		margin 0.5em auto
		
	.item-meta
		*
			color $qz-body-black
			line-height 1.2
		a
			text-decoration none
		a:hover
			text-decoration underline
		a.author-name
			color $qz-body-link-blue
		a.twitter-handle:before
			content "@"
			position relative
			top -.15em
		font-size 0.75em
		font-family $qz-sans
		background 0 0
		margin 01em 0
		text-align center
		border-right 1px solid #e7e7e7
		div
			margin 0
			padding 0
		h5
			margin 0
			padding 0
			font-weight normal
			font-family $qz-sans
			font-size 1em

#content 
	padding 20px 10px margin 0 auto

footer 
	padding 0 10px
	margin 30px auto 50px
	clear both
	color #7c7c7c
	text-align center

.hidden 
	display none

.controls 
	max-width 300px

hr 
	width 100px
	margin 30px auto

.la 
	text-align left

.footnote 
	color gray
	text-align center
	margin 0 auto
	font-size 80%
.todo 
	background-color rgba(255, 255, 0, 0.3)


/* Typography styles!
-------------------------------------------------------------------------------*/


span.datapoint 
	font-weight bold
	font-size 120%


/* Print styles!
-------------------------------------------------------------------------------*/
// @media print 




/* Media queries!
-------------------------------------------------------------------------------*/

@media screen and (max-width 756px) 
	.bigscreen 
		displaynone
	nav ol li 
		padding 13px 0 13px 5px	

#map
	margin0 auto
	width 100%
	max-width 800px

.stroke 
	fill none
	stroke #000
	stroke-width 1px


.fill 
	fill #fff


.graticule 
	fill none
	stroke #777
	stroke-width .5px
	stroke-opacity .5


.country 
	fill #f0f0f0


.boundary 
	fill none
	stroke gray
	stroke-width .5px


.key
	path
		display none
	
	.tick 
		font-size 10px
		
	line 
		stroke #000
		shape-rendering crispEdges


.mapyear 
	fill gray
	text-anchor middle
	fill-opacity 0.3


.d3-tip 
	line-height 1
	padding 6px
	background rgba(0, 0, 0, 0.6)
	color #fff


.d3-tipafter 
	box-sizing border-box
	display inline
	font-size 10px
	width 100%
	line-height 1
	color rgba(0, 0, 0, 0.6)
	content "\25BC"
	position absolute
	text-align center


.d3-tip.nafter 
	margin -1px 0 0 0
	top 100%
	left 0



/* Gender colors
-------------------------------------------------------------------------------*/
.max-m 
	color #35978f
.max-f 
	color #d6604d
.even 
	color #d1e5f0



/* Line charts
-------------------------------------------------------------------------------*/

.linechart 
	width 100%
	max-width 800px
	font-family $qz-sans

.country-line-path 
	fill none
	stroke-width 2

.axis 
	path
		fill none
		stroke none
	line
		fill none
		stroke #eee
		shape-rendering crispEdges
	rect
		fill #f9f9f9
	text
		fill #999

.chart-background 
	opacity 0.5
	max-height 235px !important
	fill #d1e5f0

/* Userinput */

.userinput-0 
	margin-right 10px


/* Mobile styles
-------------------------------------------------------------------------------*/

@media screen and (max-width 480px) 
	.userinput-0 
		margin-right 0px
		margin-bottom 5px	

